body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #1a0033, #000010);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.receta-item img {
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 0 20px #8a2be2;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.receta-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #b85cff;
}

.info-receta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.receta-contenido {
  background: rgba(30, 0, 60, 0.9);
  border: 2px solid #b85cff;
  border-radius: 20px;
  max-width: 850px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 25px #8a2be2;
  overflow-y: auto;
  max-height: 90vh;
}

.contenido-dividido {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.receta-texto {
  flex: 1 1 55%;
  font-size: 15px;
}

.receta-imagen img {
  width: 180px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 20px #a855f7;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  color: #b85cff;
}

.boton-cerrar {
  background: #8a2be2;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boton-cerrar:hover {
  background: #b85cff;
  transform: scale(1.05);
}

/* Móvil */
@media (max-width: 700px) {
  .receta-contenido {
    max-height: 95vh;
  }
  .receta-imagen img {
    width: 130px;
  }
  .receta-texto {
    font-size: 14px;
  }
}
